@page "/About"

<h3>About PlotlyCharts</h3>

<p>Developed by: James Carpenter "KilnGod"</p>

<p>This Blazor PlotlyCharts demonstration attempts to show how to properly access contain JavaScript objects contained in a module
    using Blazor's JavaScript runtime support. </p>

<p> Both "in process" WebAssembly and "over the wire" SignalR Blazor Server are supported from the same framework to avoid duplication of code. </p>

<img alt="ConePlot" src="_content/KilnGod.PlotlyCharts.DemoTest/Images/coneplot.png"/>