@page "/"

<PageTitle>Index</PageTitle>

<h1>Plotly Chart Sample App. </h1>

<p>
Plotly is a common graphics library to many language platforms; JavaScript, Python, R etc.<br /><br />
This is an attempt to bring Plotly to C# via Blazor and in the future Maui as a Maui Blazor component as a free open-source library.

<br /><br />
A goal is to keep as much of the "terse" scripting aspect of the Plotly library. No attempt is made to make a Blazor "component" with <br />
a massive number of properties as there are too many options and settings for "Plotly" under the hood. <br /><br />
This is a code first component, drop the component on a form then wire the graphics in terse code. <br /><br />
The examples given are one for one from the "Plotly" website.

</p>
<p>
<br />
<img width="400" height="400" alt="Funnel" src="_content/KilnGod.PlotlyCharts.DemoTest/images/Funnel.png"/>
<img width="400" height="400" alt="Choropleth" src="_content/KilnGod.PlotlyCharts.DemoTest/images/Choropleth.png"/>
<br />
<img width="400" height="400"  alt="Elevation" src="_content/KilnGod.PlotlyCharts.DemoTest/images/Elevation.png"/>
<img width="400" height="400" alt="Ternary" src="_content/KilnGod.PlotlyCharts.DemoTest/images/Ternary.png"/>
</p>