<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">KilnGod.PlotlyCharts</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="PlotlySimple">
                <span class="oi oi-plus" aria-hidden="true"></span> Simple
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="PlotlySpecialty">
                <span class="oi oi-plus" aria-hidden="true"></span> Specialty
            </NavLink>
        </div>

          <div class="nav-item px-3">
            <NavLink class="nav-link" href="PlotlyFinance">
                <span class="oi oi-plus" aria-hidden="true"></span> Finance
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="PlotlyMaps">
                <span class="oi oi-plus" aria-hidden="true"></span> Maps
            </NavLink>
        </div>

       

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="PlotlyStatistical">
                <span class="oi oi-plus" aria-hidden="true"></span> Statistical
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="PlotlyScientific">
                <span class="oi oi-plus" aria-hidden="true"></span> Scientific
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Plotly3DCharts">
                <span class="oi oi-plus" aria-hidden="true"></span> 3D Charts
            </NavLink>
        </div>

         <div class="nav-item px-3" hidden="@notDebugMode">
            <NavLink class="nav-link" href="PlotlySourceGen">
                <span class="oi oi-plus" aria-hidden="true"></span> Plotly Schema Gen
            </NavLink>
        </div>
        
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

#if DEBUG
    private bool notDebugMode = false;
#else
    private bool notDebugMode = true;
#endif

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
